<%= form_with(model: [app, config], local: true, class: 'form') do |form| %>
  <% if config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(config.errors.count, "error") %> prohibited this config from being saved:</h2>

      <ul>
      <% config.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :app_id %>
    <%= form.hidden_field :app_id, id: :config_app_id, class: 'form-control' %>
    <%= text_field_tag :app_name, app.name, class: 'form-control', disabled: true %>
  </div>

  <div class="form-group">
    <%= form.label :env_id %>
    <%= form.select :env_id, Env.all.collect { |p| [ p.name, p.id ] }, {include_blank: true}, id: :config_env_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :config_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, id: :config_content, class: 'form-control', rows: 15 %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
