<%= form_with(model: [app, config], local: true, class: 'form') do |form| %>
  <% if config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(config.errors.count, "error") %> prohibited this config from being saved:</h2>

      <ul>
      <% config.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="from-group">
    <%= form.hidden_field :app_id, id: :config_app_id, class: 'form-control' %>
  </div>

  <div class="from-group">
    <%= form.label :env %>
    <%= form.text_field :env, id: :config_env, class: 'form-control' %>
  </div>

  <div class="from-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :config_name, class: 'form-control' %>
  </div>

  <div class="from-group">
    <%= form.label :content %>
    <%= form.text_area :content, id: :config_content, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
