<label><%= t 'configs_of_app', app: @app.name %></label>

<table class="table">
  <thead>
    <tr>
      <th><%= t 'app' %></th>
      <th><%= t 'env' %></th>
      <th><%= t 'filename' %></th>
      <th><%= t 'opration' %></th>
    </tr>
  </thead>

  <tbody>
    <% @configs.each do |config| %>
      <tr>
        <td><%= config.app.name %></td>
        <td><%= config.env.name %></td>
        <td><%= config.name %></td>
        <td>
          <%= link_to '显示', app_config_path(config.app, config) %>
          <%= link_to '编辑', edit_app_config_path(config.app, config) %>
          <%= link_to '删除', app_config_path(config.app, config), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增配置', new_app_config_path %>
