<label>Configs</label>

<table class="table">
  <thead>
    <tr>
      <th>App</th>
      <th>Env</th>
      <th>文件名</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @configs.each do |config| %>
      <tr>
        <td><%= config.app.name %></td>
        <td><%= config.env %></td>
        <td><%= config.name %></td>
        <td>
          <%= link_to '显示', app_config_path(config.app, config) %>
          <%= link_to '编辑', edit_app_config_path(config.app, config) %>
          <%= link_to '删除', app_config_path(config.app, config), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增配置', new_app_config_path %>
