<label><%= t 'show_config_label' %></label>

<dl class="dl-horizontal">
  <dt><%= t 'app' %></dt>
  <dd><%= @config.app.name %></dd>

  <dt><%= t 'env' %></dt>
  <dd><%= @config.env.name %></dd>

  <dt><%= t 'filename' %></dt>
  <dd><%= @config.name %></dd>

  <dt><%= t 'content' %></dt>
  <dd><%= @config.content %></dd>
</dl>

<%= link_to t('edit'), edit_app_config_path(@config.app, @config) %> |
<%= link_to t('back'), app_configs_path %>
