<label>Envs</label>

<table class="table">
  <thead>
    <tr>
      <th><%= t 'name' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @envs.each do |env| %>
      <tr>
        <td><%= env.name %></td>
        <td>
          <%= link_to t('show'), env %>
          <%= link_to t('edit'), edit_env_path(env) %>
          <%= link_to t('destroy'), env, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Env', new_env_path %>
