<h2><%= t '.title' %></h2>

<table class="table">
  <thead>
    <tr>
      <th><%= t 'name' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @envs.each do |env| %>
      <tr>
        <td><%= env.name %></td>
        <td>
          <%= link_to t('edit'), edit_env_path(env) %>
          <%= link_to t('destroy'), env, method: :delete, data: { confirm: t('delete_confirm') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('new'), new_env_path %>
