<h2><%= t '.title' %></h2>

<table class="table">
  <thead>
    <tr>
      <th><%= t '.login' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.login %></td>
        <td>
          <%= link_to t('edit'), edit_user_path(user) %>
          <%= link_to t('destroy'), user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new'), new_user_path %>
