<h2><%= t '.title' %></h2>

<table class="table">
  <thead>
    <tr>
      <th><%= t 'name' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <td><%= app.name %></td>
        <td>
          <%= link_to t('edit'), edit_app_path(app) %>
          <%= link_to t('destroy'), app, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new'), new_app_path %>
