<!DOCTYPE html>
<html>
  <head>
    <title>OneConfig</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="notice"><%= notice %></div>

    <header class="masthead">
      <div class="masthead-inner">
        <h1>One Config</h1>
        <p>分布式配置管理平台</p>
        <div class="colophon">
          <ul class="colophon-links">
            <li><%= link_to '用户管理', users_path %>
            <li><%= link_to 'APP管理', apps_path %>
            <li><%= link_to 'ENV管理', envs_path %>
            <li>
              <%= link_to '配置管理', 'javascript: void(0)' %>
              <ul>
                <% App.all.each do |app| %>
                  <li><%= link_to app.name, app_configs_path(app.id) %></li>
                <% end %>
              </ul>
            </li>
          </ul>

        </div>

      </div>

    </header>

    <div class="content container">
      <%= yield %>
    </div>
  </body>
</html>
